<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/3cb2ed98e6.js" crossorigin="anonymous"></script>
</head>
<body>
        <nav>
            <div class="nav-container">
              <div class="logo roboto-bold">Express Blog App</div>
                <ul class="roboto-regular">
                    <li><a href="\">See All Posts</a></li>
                    <li><a href="\new">Add New Post</a></li>
                </ul>
            </div>
        </nav>
